<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mongo Scrapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    <!-- Personal Style SHeets -->
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>

{{{body}}}

</body>
</html>